.ticker-container {
  margin: 10px 0;
  display: flex;
}
.ticker-container * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.ticker-container .heading {
  position: relative;
  flex: 1 0 auto;
  z-index: 5;
}
.ticker-container .heading .label {
  font-size: 1.2rem;
  font-weight: 700;
}
.ticker-container .heading .over-label {
  font-size: 0.7rem;
  position: absolute;
  padding: 0.1rem 0.8rem;
  margin-bottom: -5px;
  bottom: 100%;
  left: 0;
  font-weight: 700;
}
.ticker-container .heading .main-text * {
  color: aliceblue;
}
.ticker-container .scroller {
  margin: auto 0;
  flex: 0 1 auto;
  position: relative;
  width: 100%;
  margin-left: -5%;
}
.ticker-container .scroller marquee {
  padding: 0.2rem 0;
  display: flex;
  align-items: center;
}
.ticker-container.simple .heading {
  border-radius: 0;
  background-color: #2271bb;
  padding: 0.2rem 1rem;
}
.ticker-container.simple .heading .label {
  font-size: 1.2rem;
}
.ticker-container.simple .heading .over-label {
  border-radius: 0;
  background-color: #f0b208;
  padding: 0.1rem 0.8rem;
}
.ticker-container.simple .heading .main-text * {
  color: aliceblue;
}
.ticker-container.simple .scroller {
  padding: 0.2rem 0rem;
  border: 2px solid #2271bb;
  color: #333;
  margin-left: -5%;
}
.ticker-container.simple .scroller marquee {
  font-size: 1rem;
}
.ticker-container.fancy .heading {
  border-radius: 0 0 0.5rem 0;
  background-color: red;
  padding: 0.3rem 2rem;
  border-bottom: solid 3px rgb(179, 0, 0);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.ticker-container.fancy .heading .label {
  font-size: 1.2rem;
}
.ticker-container.fancy .heading .over-label {
  border-radius: 0 0 0.5rem 0;
  background-color: rgb(243, 227, 1);
  padding: 0.1rem 0.8rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.ticker-container.fancy .heading .main-text * {
  color: aliceblue;
}
.ticker-container.fancy .scroller {
  background-color: #222;
  color: antiquewhite;
  margin-left: -5%;
  padding: 0.2rem 0rem;
  border: #222 solid 1px;
}
.ticker-container.fancy .scroller marquee {
  font-size: 1rem;
}
.ticker-container.rounded .heading {
  border-radius: 5rem;
  background-color: rgb(46, 91, 214);
  padding: 0.2rem 2rem;
}
.ticker-container.rounded .heading .label {
  font-size: 1.2rem;
}
.ticker-container.rounded .heading .over-label {
  border-radius: 5rem;
  background-color: rgb(243, 227, 1);
  padding: 0.1rem 0.8rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.ticker-container.rounded .heading .main-text * {
  color: aliceblue;
}
.ticker-container.rounded .scroller {
  color: #222;
  margin-left: -5%;
  padding: 0.2rem 0rem;
  border: rgb(46, 91, 214) solid 3px;
  border-radius: 5rem;
}
.ticker-container.rounded .scroller marquee {
  font-size: 1rem;
}
.ticker-container.fast .heading {
  border-radius: 0rem;
  transform: skewX(-15deg);
  background: linear-gradient(to right, rgb(255, 38, 0), rgb(255, 166, 0));
  background-color: red;
  padding: 0.6rem 2rem;
}
.ticker-container.fast .heading .label {
  font-size: 1.2rem;
}
.ticker-container.fast .heading .over-label {
  border-radius: 0rem;
  color: #fff;
  background-color: rgb(131, 64, 255);
  padding: 0.1rem 0.8rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-left: 1rem;
}
.ticker-container.fast .heading .main-text * {
  color: aliceblue;
}
.ticker-container.fast .scroller {
  color: #222;
  margin-left: -5%;
  padding: 0.2rem 0rem;
  border: rgb(46, 91, 214) solid 2px;
  border-radius: 0rem;
  transform: skew(-15deg);
}
.ticker-container.fast .scroller marquee {
  font-size: 1rem;
}
.ticker-container.dimension .heading {
  border-radius: 0.8rem;
  background: linear-gradient(to right, rgb(0, 132, 255), rgb(100, 198, 255));
  background-color: red;
  padding: 0.6rem 2rem;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.6);
}
.ticker-container.dimension .heading .label {
  font-size: 1.2rem;
}
.ticker-container.dimension .heading .over-label {
  border-radius: 0.2rem;
  color: aliceblue;
  background-color: rgb(0, 100, 194);
  padding: 0.1rem 0.8rem;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
  margin-left: 1rem;
}
.ticker-container.dimension .heading .main-text * {
  color: aliceblue;
}
.ticker-container.dimension .scroller {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(232, 245, 253));
  color: #222;
  margin-left: -5%;
  padding: 0.2rem 0rem;
  border-radius: 0rem;
}
.ticker-container.dimension .scroller marquee {
  font-size: 1rem;
}/*# sourceMappingURL=breaking-news-ticker-public.css.map */