.breaking-news-slider-container{
    font-size: large;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    margin: 0 0;
    .slider-label{
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        background-color: red;
        padding: 10px 20px;
        z-index: 1;
        color: white;
        margin: auto 0;
        width: fit-content;
        height:auto;
        &::after{
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            transform: rotateZ(45deg);
            background-color: red;
            right: -10px;
            vertical-align: middle;
            position: absolute;
            transform-origin: center;
            margin: auto 0;
        }
    }
    
    .slider{
        padding: 18px;
        border-bottom: solid 2px rgb(2, 2, 2);
        display: inline-block;
        vertical-align: middle;
    }
}