.ticker-admin-page{

    
    
    *{
        box-sizing: border-box;
    }
    
    
    h2{
        background-color: #2271bb;
        color: #fff;
        width: 90%;
        padding: 1rem;
        margin-bottom: 0;
    }
    .group{
        position: relative;
        box-sizing: border-box;
        display: block;
        width: 90%;
        background-color: #fff;
        margin: 0;
        padding: 2%;
        border: 1px solid #ddd;
        table{

            tr{
                display: table-row;
            }
                
        }
    }
}